<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Leopard</title>
  <LP-include-html src="head.html"></LP-include-html>
  <script>
    async function refreshImageList() {
      const imageList = await getExecImageList();

      const selectImages = document.getElementById("select_images");
      while (selectImages.length > 0) {
        selectImages.remove(0);
      }

      for (const im of imageList) {
        const option = document.createElement("option");
        option.text = im.RepoTags;
        selectImages.add(option);
      }
    }

    async function checkLogs(info) {
      const inspectInfo = await inspectExec(info.exec_id);
      const logs = await getExecLogs(info.exec_id);
      if (inspectInfo.State.Running) {
        setTimeout(checkLogs, 1000, info);
      }
      else {
        removeExec(info.exec_id);    // auto remove after getting logs
      }
      const outputDiv = document.getElementById('output');
      outputDiv.innerText = logs.lines;
    }

    async function createExecution() {
      const item = createPostItem([
        ['srcPath', 'src_path'],
        ['mainSrc', 'main_src'],
        ['imageTag', 'select_images'],
        ['inputPath', 'input_data_path'],
        ['outputPath', 'output_data_path']
      ]);
      const execInfo = await createExec(item);
      setTimeout(checkLogs, 1000, execInfo);
    }

    function init() {
      refreshImageList();
    }      
  </script>
</head>

<body>
  <LP-include-html src="bs-script.html"></LP-include-html>
  <LP-include-html src="topbar.html"></LP-include-html>

  <div class="container-fluid">
    <div class="row">
      <LP-include-html src="sidebar.html"></LP-include-html>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="p-3 bg-body-tertiary" style="width:100%;">
          <h2>실행 설정</h2>
          <div class="mb-3">
            <label for="select_images" class="form-label">환경</label>
            <select class="form-select" id="select_images" aria-label="Default select example">
            </select>

            <label for="input_data_path" class="form-label">입력 데이터 경로</label>
            <input type="text" class="form-control" id="input_data_path" value="">

            <label for="src_path" class="form-label">소스 코드 경로</label>
            <input type="text" class="form-control" id="src_path" value="/home/hkroh/work/leopard/storage/1/test_dl">

            <label for="main_src" class="form-label">메인 소스 파일</label>
            <input type="text" class="form-control" id="main_src" value="main.py">


            <label for="output_data_path" class="form-label">출력 데이터 경로</label>
            <input type="text" class="form-control" id="output_data_path" value="">
          </div>
          <button type="button" class="btn btn-primary" onclick="createExecution()">실행</button>
          <div class="m-2 container">
            <pre id="output" class="console_like"></pre>
          </div>
        </div>
      </main>
    </div>
  </div>

  <script>init();</script>
</body>

</html>