<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leopard</title>
    <LP-include-html src="head.html"></LP-include-html>
    <script>
      let sourceUploadInfo = null;

      async function createExecution() {
        const item = createPostItem([
          ["id", "input_exp_id"],
          ['srcPath', 'src_path'],
          ['command', 'command_line'],
          ['imageTag', 'select_images'],
          ['inputPath', 'input_data_path'],
          ['outputPath', 'output_data_path']
        ]);
        if (sourceUploadInfo && sourceUploadInfo.success) {
          item['uploadId'] = sourceUploadInfo.upload_id;
        }
        console.log(item)
        const execInfo = await createExec(item);
        console.log(execInfo)
        setTimeout(checkLogs, 1000, execInfo);
      }

      async function checkLogs(info) {
        const inspectInfo = await inspectExec(info.exec_id);
        const logs = await getExecLogs(info.exec_id);
        if (inspectInfo.State.Running) {
          setTimeout(checkLogs, 1000, info);
        }
        else {
          removeExec(info.exec_id);    // auto remove after getting logs
        }
        const outputDiv = document.getElementById('output');
        outputDiv.innerText = logs.lines;
      }

      async function setSourceCode() {
        const res = await showFileUploadDialogBox();
        if (sourceUploadInfo) {
          if (sourceUploadInfo.success) {
            removeUploadItem(sourceUploadInfo.upload_id);
          }
        }
        sourceUploadInfo = res;
        setV("src_path", sourceUploadInfo.files[0]);
      }

      async function refreshImageList() {
        const imageList = await getExecImageList();

        const selectImages = document.getElementById("select_images");
        while (selectImages.length > 0) {
          selectImages.remove(0);
        }

        for (const im of imageList) {
          const option = document.createElement("option");
          option.text = im.RepoTags;
          selectImages.add(option);
        }
      }

      async function init() {
        refreshImageList();

        window.addEventListener("beforeunload", (e) => {
          if (sourceUploadInfo) {
            removeUploadItem(sourceUploadInfo.upload_id);
            console.log('remove:', sourceUploadInfo.upload_id)
          }
        });
      }
    </script>
  </head>
  <body>
    <LP-include-html src="bs-script.html"></LP-include-html>
    <LP-include-html src="topbar.html"></LP-include-html>

    <div class="container-fluid">
      <div class="row">
        <LP-include-html src="sidebar.html"></LP-include-html>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="p-3 bg-body-tertiary" style="width:100%;">
            <h2>실험/실행</h2>
            <ul class="nav nav-tabs my-2">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#new_exec">새 실험/실행</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#current_exec">실행 중</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" id="btn_output" data-bs-toggle="tab" data-bs-target="#completed_exec">실행 완료</button>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="new_exec" role="tabpanel">
                <div>
                  <h5 class="mt-2">기본정보</h5>
                  <div class="row mb-2">
                    <label for="input_exp_id" class="col-sm-2 col-form-label">실험 ID</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="input_exp_id" value="">
                    </div>
                  </div>
                  <div class="row mb-2">
                    <label for="input_exec_id" class="col-sm-2 col-form-label">설명</label>
                    <div class="col-sm-7">
                      <textarea class="form-control" id="input_exec_desc" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <label for="input_exec_id" class="col-sm-2 col-form-label">실행 ID</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="input_exec_id" value="">
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-outline-primary">자동 생성</button>
                    </div>
                  </div>

                  <h5 class="mt-2">환경</h5>
                  <div class="row mb-2">
                    <label for="select_images" class="col-sm-2 col-form-label">이미지</label>
                    <div class="col-sm-7">
                      <select class="form-select" id="select_images" aria-label="Default select example">
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-outline-primary">새로 생성</button>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <label for="input_data_path" class="col-sm-2 col-form-label">입력 데이터 경로</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="input_data_path" value="" readonly>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-outline-primary">설정</button>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <label for="output_data_path" class="col-sm-2 col-form-label">출력 데이터 경로</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="output_data_path" value="" readonly>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-outline-primary">설정</button>
                    </div>
                  </div>

                  <h5 class="mt-2">실행 코드</h5>
                  <div class="row mb-2">
                    <label for="src_path" class="col-sm-2 col-form-label">소스 코드</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="src_path" value="" readonly>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-outline-primary" onclick="setSourceCode()">설정</button>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <label for="command_line" class="col-sm-2 col-form-label">커맨드 라인</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" id="command_line" value="python main.py" readonly>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn btn-outline-primary">설정</button>
                    </div>
                  </div>

                  <h5 class="mt-2">사용 자원</h5>
                  <div class="row mb-2">
                    <div class="col-sm-2">
                      GPU
                    </div>
                    <div class="col-sm-7">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="resource" id="resource_cpu_only">
                        <label class="form-check-label" for="resource_cpu_only">
                          CPU 단독
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="resource" id="resource_gpu" checked>
                        <label class="form-check-label" for="resource_gpu">
                          GPU 사용
                        </label>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-primary p-4" style="width: 34%" onclick="createExecution()">실행</button>
                </div>
              </div>

              <div class="tab-pane fade" id="current_exec" role="tabpanel" >
                <pre id="output" class="console_like"></pre>
              </div>

              <div class="tab-pane fade" id="completed_exec" role="tabpanel">
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <LP-include-html src="fileupload.html"></LP-include-html>
    <script>init();</script>
  </body>
</html>


