<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Leopard</title>
  <LP-include-html src="head.html"></LP-include-html>
  <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
  <script src="/js/csv.js"></script>
  <script>
    let csvData = null;

    function csvToGrid(gridId, csvData) {
      const csvLines = CSV.parse(csvData)
      const headers = csvLines[0];
      const columnDefs = [];
      for (const column of headers) {
        columnDefs.push({field: column, resizable: true})
      }
      const rowData = [];
      for (let i = 1; i < csvLines.length; i++) {
        const row = {};
        for (let j = 0; j < headers.length; j++) {
          row[headers[j]] = csvLines[i][j];
        }
        rowData.push(row)
      }
      const gridOptions = {
        columnDefs: columnDefs,
        rowData, rowData
      };
      const gridDiv = document.getElementById(gridId);
      gridDiv.innerHTML = "";
      new agGrid.Grid(gridDiv, gridOptions);
    }

    function generateData(type) {
        http_post("/api/app/faker", {
                type: type,
                count: 10
                }).then((res) => {
          csvData = JSON.parse(res);
          
          csvToGrid("myGrid", csvData);
        })
    }
    function showRawData() {
      document.getElementById("view_csv").innerText = csvData;
      document.getElementById("view_csv").style = "display:block";
    }
    function downloadCsv() {
      var a = document.createElement("a");
      a.href = "/api/storage_file/0/app/faker/run/result.csv";
      a.download = "faker_data.csv";
      a.click();
    }
    function saveCsv() {
      showFileSave((filePath) => {
        uploadFile('1', filePath, csvData);
      }, '1', 'faker_data.csv')
    }
    function init() {
    }      

    </script>
</head>

<body>
<LP-include-html src="bs-script.html"></LP-include-html>
<LP-include-html src="topbar.html"></LP-include-html>

<div class="container-fluid">
    <div class="row">
        <LP-include-html src="sidebar.html"></LP-include-html>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="p-3 bg-body-tertiary" style="width:100%;">
                <h2>페이커 (Faker)</h2>
            <div class="my-4">
              <button type="button" class="btn btn-primary" onclick="generateData('personal')">개인정보 데이터 생성</button>
              <button type="button" class="btn btn-primary" onclick="generateData('log')">로그 데이터 생성</button>
            </div>
            
            <div id="myGrid" class="ag-theme-alpine" style="height: 500px"></div>
            
            <div class="my-4">
              <button type="button" class="btn btn-outline-primary" onclick="showRawData()">원문 보기</button>
              <button type="button" class="btn btn-outline-primary" onclick="downloadCsv()">다운로드</button>
              <button type="button" class="btn btn-outline-primary" onclick="saveCsv()">스토리지 저장</button>
            </div>

            <pre class="container" id="view_csv" style="display:none">

            </pre>
        </div>
      </main>
    </div>
  </div>
  <LP-include-html src="filesave.html"></LP-include-html>
  <script>init();</script>
</body>

</html>