<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leopard</title>
    <LP-include-html src="head.html"></LP-include-html>
    <script>
      let appInfo;

      async function run() {
        clearE("output_div");
        setV("output_text", "");

        const outputPath = splitStoragePath(appInfo.execution.output);

        const data = JSON.parse(getV("input_text"));
        const res = await runApp(appInfo.id, data)
        setV("output_text", JSON.stringify(res));
        if (res.image_path) {
          const image = new Image();
          image.src = createStorageFileURL(outputPath[0], `${outputPath[1]}/${res.image_path}`, true);
          addE("output_div", image);
        }
        else if (res.text_path) {
          const contents = await getStorageFileContent(outputPath[0], `${outputPath[1]}/${res.text_path}`, true);
          addE("output_div", createE("pre", contents));
        }
      }

      async function uploadFile() {
        clearE("input_data");

        const inputPath = splitStoragePath(appInfo.execution.input);

        const filenames = await showFileUploadDialogBox(inputPath[0], inputPath[1]);
        image_path = joinPath(inputPath[1], filenames[0]);
        const image_url = createStorageFileURL(inputPath[0], image_path);
        const image = new Image();
        image.src = image_url;
        addE("input_data", createE("div", `"image_path": "${filenames[0]}"`));
        addE("input_data", image);
      }

      async function init() {
        const queryParam = getQueryParam();
        appId = queryParam.app_id;
        setT("app_title", appId);
        const appList = await getAppList();
        for (const app of appList) {
          if (app.id == appId) {
            appInfo = app;
            break;
          }
        }
      }
    </script>
  </head>
  <body>
    <LP-include-html src="bs-script.html"></LP-include-html>
    <LP-include-html src="topbar.html"></LP-include-html>
    <LP-include-html src="get-query-param.html"></LP-include-html>

    <div class="container-fluid">
      <div class="row">
        <LP-include-html src="sidebar.html"></LP-include-html>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="p-3 bg-body-tertiary" style="width:100%;">
            <h2 id="app_title"></h2>
            <div>
              <div>
                입력 파라메터
                <textarea id="input_text"  class="form-control" rows="6">{}</textarea>
              </div>

              <div class="my-2">
                <button class="btn btn-outline-secondary" onclick="uploadFile()">파일 입력 추가</button>
              </div>

              <div id="input_data"></div>

              <div class="my-4">
                <button class="btn btn-primary" onclick="run()">Run</button>
              </div>

              <div>
                출력 데이터
                <textarea id="output_text"  class="form-control" rows="6"></textarea>
              </div>
              <div>
              연결 데이터
              </div>
              <div id="output_div">

              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <LP-include-html src="fileupload.html"></LP-include-html>
    <LP-include-html src="messagebox.html"></LP-include-html>
    <script>init();</script>
  </body>
</html>