<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leopard</title>
    <LP-include-html src="head.html"></LP-include-html>
    <script src="https://cdn.jsdelivr.net/npm/xterm@5.3.0/lib/xterm.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.min.css" rel="stylesheet">
    <script>
      let appInfo;

      async function run() {
        clearE("output_data");
        clearE("output_log");
        setV("output_text", "");

        let automaticLog = false;
        const outputPath = splitStoragePath(appInfo.execution.output);

        const data = JSON.parse(getV("input_text"));
        if (!("with_log" in data)) {
          data["with_log"] = true;
          automaticLog = true;
        }
        const res = await runApp(appInfo.id, data)
        if ("log" in res) {
          //setT("output_log", res.log);
          const term = new Terminal({convertEol: true});
          term.open(getE("output_log"));
          term.resize(120, 25);
          term.write(res.log);
          if (automaticLog) {
            delete res['log'];
          }
        }
        setV("output_text", JSON.stringify(res));
        if (res.image_path) {
          const image = new Image();
          image.src = createStorageFileURL(outputPath[0], `${outputPath[1]}/${res.image_path}`, true);
          addE("output_data", image);
        }
        else if (res.text_path) {
          const contents = await getStorageFileContent(outputPath[0], `${outputPath[1]}/${res.text_path}`, true);
          addE("output_data", createE("pre", contents));
        }

        const buttonOutput = document.getElementById("btn_output");
        let tabOutput = bootstrap.Tab.getInstance(buttonOutput)
        if (tabOutput == null)
          tabOutput = new bootstrap.Tab(buttonOutput)
        else
          console.log('tab is already exist')
        tabOutput.show();
      }

      async function uploadFile() {
        clearE("input_data");

        const inputPath = splitStoragePath(appInfo.execution.input);

        const res = await showFileUploadDialogBox(inputPath[0], inputPath[1]);
        if (res.success) {
          image_path = joinPath(inputPath[1], res.files[0]);
          const image_url = createStorageFileURL(inputPath[0], image_path);
          const image = new Image();
          image.src = image_url;
          addE("input_data", createE("div", `"image_path": "${res.files[0]}"`));
          addE("input_data", image);
        }
      }

      async function init() {
        const queryParam = getQueryParam();
        appId = queryParam.app_id;
        const appList = await getAppList();
        for (const app of appList) {
          if (app.id == appId) {
            appInfo = app;
            setT("app_title", appInfo.name);
            break;
          }
        }
      }
    </script>
  </head>
  <body>
    <LP-include-html src="bs-script.html"></LP-include-html>
    <LP-include-html src="topbar.html"></LP-include-html>
    <LP-include-html src="get-query-param.html"></LP-include-html>

    <div class="container-fluid">
      <div class="row">
        <LP-include-html src="sidebar.html"></LP-include-html>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="p-3 bg-body-tertiary" style="width:100%;">
            <h2 id="app_title"></h2>
            <div>
              <div>
                입력 파라메터
                <textarea id="input_text"  class="form-control" rows="6">{}</textarea>
              </div>

              <div class="my-2">
                <button class="btn btn-outline-secondary" onclick="uploadFile()">파일 입력 추가</button>
              </div>

              <div class="my-4">
                <button class="btn btn-primary" onclick="run()">Run</button>
              </div>

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#input_div">입력 데이터</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#output_log_div">출력 로그</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="btn_output" data-bs-toggle="tab" data-bs-target="#output_div">출력 데이터</button>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="input_div" role="tabpanel">
                  <div id="input_data"></div>
                </div>

                <div class="tab-pane fade" id="output_log_div" role="tabpanel" >
                  <div id="output_log" class="console_like"></div>
                </div>

                <div class="tab-pane fade" id="output_div" role="tabpanel">
                  <div>
                    <textarea id="output_text"  class="form-control" rows="6"></textarea>
                  </div>
                  <div>
                  </div>
                  <div id="output_data">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <LP-include-html src="fileupload.html"></LP-include-html>
    <LP-include-html src="messagebox.html"></LP-include-html>
    <script>init();</script>
  </body>
</html>


