<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Leopard</title>
  <LP-include-html src="head.html"></LP-include-html>
  <script>
    async function onTest() {
      window.open("/ui/storage.html?storage_id=1&storage_path=dataset 12")
    }
    async function init() {
    }
  </script>
</head>

<body>
  <LP-include-html src="bs-script.html"></LP-include-html>
  <LP-include-html src="topbar.html"></LP-include-html>

  <div class="container-fluid">
    <div class="row">
      <LP-include-html src="sidebar.html"></LP-include-html>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>TEST</h1>
        <h4 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>API 테스트</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <svg class="bi">
              <use xlink:href="#plus-circle" />
            </svg>
          </a>
        </h4>
        <button class="btn btn-primary" onclick="onTest()">테스트</button>
      </main>
    </div>
  </div>

  <script>init();</script>
</body>

</html>