<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Leopard</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span>앱 모듈</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                <svg class="bi"><use xlink:href="#plus-circle"/></svg>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="face_detect.html">
                        <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                        얼굴검출
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="faker.html">
                        <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                        페이커 (Faker)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="presidio.html">
                        <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                        프레시디오 (Presidio)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="app_manager.html">
                        <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                        앱 모듈 관리
                    </a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span>기본 작업</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                <svg class="bi"><use xlink:href="#plus-circle"/></svg>
                </a>
            </h6>
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="storage.html">
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                    스토리지
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="dataset.html">
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                    데이터세트
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="#">
                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                        이미지
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="#">
                        <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                        실험/실행
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                <span>개인 정보 보호 항목</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                <svg class="bi"><use xlink:href="#plus-circle"/></svg>
                </a>
            </h6>
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                    데이터 비식별화
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                    개인정보 삭제 (언러닝)
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                    <svg class="bi"><use xlink:href="#file-earmark-text"/></svg>
                    모델 안정성 평가 (MIA)
                </a>
                </li>
            </ul>

            <hr class="my-3">

            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="test.html">
                    <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
                    테스트
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                    <svg class="bi"><use xlink:href="#door-closed"/></svg>
                    설정
                </a>
                </li>
            </ul>
        </div>
    </div>
</div>